* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 100%;
  line-height: 1.6;
  word-break: keep-all;

  font-family: 'Pretendard-Regular', 'Noto Sans KR', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  background: inherit;
  border: none;
}
img,
picture,
video,
iframe {
  width: 100%;
  display: block;
}

#sr-only {
  position: absolute;
  width: 1p;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
